<style>
body {
  background-image: url("/images/spotify.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

<form action="/artist" method="GET">

  <input type="text" name="name" id="artist" value="" placeholder="Artist Name">  
  <button>Search for Artist</button>

</form>